<!-- polls/templates/polls/list.html -->
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>질문 목록</title>
</head>
<body>
<h1>설문목록</h1>
<ul>
    <!-- 반복문 - 
       question_list(context_value:QuerySet)의 Question들을 출력 -->
    {% for question in  question_list %}
        <li>
            <a href="/polls/vote_form/{{question.pk}}">
                {{question.pk}}. {{question.question_text}}
            </a>
        </li>
    {% endfor %}

</ul>
</body>
</html>