<!-- templates/polls/vote_form.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>질문 폼</title>
</head>
<body>
<a href="/polls/list">설문 목록</a>

<h1>설문 하기</h1>
<h2>{{question.question_text}}</h2>

{% if error_message %}
<div style="color:red;font-size:0.9em">
    {{error_message}}
</div>
{% endif %}
<!-- 보기 -->
<form action="/polls/vote" method="post">
    {% csrf_token %}
    <input type="hidden" name="question_id" value="{{question.pk}}">
    {% for choice in question.choice_set.all %}
        <input type="radio" name="choice" 
               value="{{choice.pk}}" id="{{choice.pk}}">
        <label for="{{choice.pk}}">{{choice.choice_text}}</label><br>
    {% endfor %}
    <button type="submit">투표</button>
    <button type="reset">선택해제</button>
</form>
</body>
</html>